.responsivoContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

.responsivoTitle {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  font-style: bold;
  margin: 30px 0 30px 60px;
  align-items: center;
}

.responsivoTitle > img {
  display: none;
}

.responsivoBody {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.responsivoLeftColumn {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.responsivoSubtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.responsivoDescrição {
  text-align: justify;
  margin-bottom: 20px;
}

.responsivoComentarios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, auto));
  row-gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.responsivoComentarioWrapper {
  display: flex;
  flex-direction: row;
}

.responsivoFoto {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 5px 10px 5px 0px;
}

.responsivoNome {
  font-size: 1.2rem;
}

.responsivoTexto {
  font-style: italic;
  font-size: 1rem;
  text-align: justify;
}

.responsivoRightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.responsivoProdutos {
  width: auto;
  margin: 10px 0px 10px 0px;
  height: 200px;
}

.responsivoFakeButton {
  text-decoration: none;
  color: black;
  width: 100px;
  padding: 10px 0px;
  margin: 10px;
  text-align: center;
  background-color: lightgreen;
  border-radius: 5px;
  transition: 0.3s;
}

.responsivoLink {
  display: none;
}

@media (max-width: 1080px) {
  .responsivoFoto {
    max-width: 80px;
    max-height: 80px;
    border-radius: 40px;
  }

  .responsivoProdutos {
    height: 150px;
  }
}

@media (max-width: 720px) {
  .responsivoTitle {
    justify-content: space-between;
    margin: 30px 40px 0px 40px;
  }

  .responsivoTitle > img {
    display: flex;
  }

  .responsivoDescrição {
    margin-bottom: 0;
  }

  .responsivoBody {
    grid-template-columns: 1fr;
  }

  .responsivoLink {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
  }

  .responsivoLeftColumn {
    margin: 0 40px;
  }

  .responsivoRightColumn {
    display: none;
  }

  .responsivoComentarios {
    grid-template-columns: 1fr;
  }

  .responsivoFoto {
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
  }

  .responsivoProdutos {
    margin: 0;
    height: 80px;
  }
}

@media (max-width: 360px) {
  .responsivoTitle {
    margin: 20px 20px 0px 20px;
  }

  .responsivoLeftColumn {
    margin: 0 20px;
  }
}